<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-horizontal">
  <div class="form-group">
    <div class="field">
      <div class="control-label col-md-2"><%= f.label :name %><br></div>
      <div class="form-ctonrols col-md-4"><%= f.text_field :name %></div>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <div class="control-label col-md-2"><%= f.label :address %><br></div>
      <div class="form-ctonrols col-md-4"><%= f.text_field :address %></div>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <div class="control-label col-md-2"><%= f.label :longitude %><br></div>
      <div class="form-ctonrols col-md-4"><%= f.text_field :longitude %></div>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <div class="control-label col-md-2"><%= f.label :latitude %><br></div>
      <div class="form-ctonrols col-md-4"><%= f.text_field :latitude %></div>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <div class="control-label col-md-2"><%= f.label 'HappyHour start' %><br></div>
      <div class="form-ctonrols col-md-4"><%= f.text_field :hstart %></div>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <div class="control-label col-md-2"><%= f.label 'HappyHour end' %><br></div>
      <div class="form-ctonrols col-md-4"><%= f.text_field :hend %></div>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <div class="control-label col-md-2"><%= f.label 'Days of the Week' %><br></div>
      <div class="form-ctonrols col-md-4"><%= f.text_field :days %></div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-4">
      <% if @location.name == nil %>
      <input class="btn btn-primary" name="commit" type="submit" value="Create Location">
      <% else %>
      <input class="btn btn-primary" name="commit" type="submit" value="Update Location">
      <% end %>
      <a class="btn btn-default" <%= link_to 'cancel', locations_path %>
      </div>
    </div>
</div>

  <!-- #removed fields
  <div class="field">
  <%= f.label :gmaps %><br>
  <%= f.check_box :gmaps %>
  </div>
  <div class="field">
  <%= f.label :hmenu %><br>
  <%= f.text_field :hmenu %>
  </div>
  <div class="field">
  <%= f.label :hrating %><br>
  <%= f.text_field :hrating %>
  </div>
  <div class="field">
  <%= f.label :number %><br>
  <%= f.text_field :number %>
  </div>  -->


<% end %>
