<% if notice != nil %>
<p id="notice">
  <div class="alert alert-success text-centered" role="alert">
    <p class="text-center"><%= notice %></p>
  </div>
</p>
<% end %>

<% if current_user %>
  <%= render :partial => 'times/form' %>
<% end %>

<hr>
<div class="row">
  <div class="form-group">
    <div class="col-md-12">
      <div id="map" style='height:500px;'>
        <script type="text/javascript">
          mapBuilder();
        </script>
        <% if @locations != nil %>
          <% @locations.each do |each_location| %>
            <% converted_ratings = each_location.convert %>
            <% converted_start = each_location.hstart.strftime("%H:%M") %>
            <% converted_end = each_location.hend.strftime("%H:%M") %>
            <% if user_time %>
              <% if user_time > each_location.hstart.strftime("%H:%M") && user_time < each_location.hend.strftime("%H:%M") %>
                <% if each_location.send(user_date) %>
                  <script type="text/javascript">
                    placeMarker(<%= each_location.latitude %>, <%=each_location.longitude %>, "<%= each_location.name %>",
                              "<%=converted_start%>", "<%=converted_end%>", "<%=converted_ratings%>");
                  </script>
                <% end %>
              <% end %>
            <% else %>
              <script type="text/javascript">
                placeMarker(<%= each_location.latitude %>, <%=each_location.longitude %>, "<%= each_location.name %>",
                          "<%=converted_start%>", "<%=converted_end%>", "<%=converted_ratings%>");
              </script>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <h3 align="center"> Popular locations </h3>
      <button type="button" class="btn btn-info btn-block"><%= 'Downtown' %></button>
      <br>
      <button type="button" class="btn btn-info btn-block"><%= 'South Broadway' %></button>
      <br>
      <button type="button" class="btn btn-info btn-block"><%= 'Highlands' %></button>
    </div> -->
  </div>
</div>
