<% if notice != nil %>
<p id="notice">
  <div class="alert alert-success text-centered" role="alert">
    <p class="text-center"><%= notice %></p>
  </div>
</p>
<% end %>

<ul class="breadcrumb">
  <li><%= link_to "Locations", locations_path %></li>
  <li><%= link_to "#{@location.name}", @location %></li>
  <li class="active">New Location</li>
</ul>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Gmaps:</strong>
  <%= @location.gmaps %>
</p>

<p>
  <strong>Hstart:</strong>
  <%= @location.hstart %>
</p>

<p>
  <strong>Hend:</strong>
  <%= @location.hend %>
</p>

<p>
  <strong>Hmenu:</strong>
  <%= @location.hmenu %>
</p>

<p>
  <strong>Hrating:</strong>
  <%= @location.hrating %>
</p>

<p>
  <strong>Rating Count:</strong>
  <%= @location.hcounter %>
</p>

<p>
  <strong>Number:</strong>
  <%= @location.number %>
</p>

<p>
    <a class="btn btn-primary" <%= link_to 'Go Back', locations_path %>
</p>
